{
  "ignorePatterns": ["**/lib/esm/*.js", "**/build/*"],
  "extends": [
    "eslint:recommended",
    // "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [".eslintrc.{js,cjs}"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  // "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "import"],
  "rules": {
    "no-useless-catch": 0,
    "no-undef": 0,
    "no-console": "warn",
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      {
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true,
        "code": 120
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "semi": ["warn", "always"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "consistent-return": "error",
    "spaced-comment": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    // временное отключение
    "react/prop-types": 0,
    "no-unsafe-optional-chaining": 0,
    "no-unused-vars": 0,
    "react/no-unescaped-entities": 0
  }
}
