.block {
  margin-bottom: 35px;
}
.header {
  display: flex;
  gap: 3px;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.title {
  font-size: 18px;
  font-weight: 700;
  flex-basis: auto;
}
.right {
  text-align: right;
  margin-bottom: 5px;
}
.box__buttons {
  display: flex;
  justify-content: space-between;
}
.group {
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
  border-radius: 6px;
  padding: 15px 10px;
  margin-bottom: 15px;
}
.spacer__json {
  margin-top: 25px;
}
