.wrapper {
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 25px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
}
/* ====================================================================== */
@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
