.wrapper {
  position: relative;
  font-size: 17px;
  letter-spacing: 0.5px;
  background-color: var(--color-blue-4);
  text-align: center;
  padding: 1em 2rem;
  border-radius: 10px;
}
/* ====================================================================== */
@media (max-width: 576px) {
  .wrapper {
    font-size: 14px;
    letter-spacing: 0.2px;
    padding: 0.5em 2rem 0.5em 1rem;
    border-radius: 10px;
  }
}
