.block {
  position: relative;
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
  border-radius: 5px;
  padding: 15px 15px 5px;
  width: 100%;
  margin-bottom: 15px;
}
.title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 5px;
}
.block__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.list {
  list-style: inside;
}
.list__dev {
  list-style: none;
}
.li__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item + .item {
  margin-top: 2px;
}
.text::after {
  content: ';';
}
.date {
  margin-right: 5px;
}
.date::after {
  content: ':';
}
@media screen and (max-width: 576px) {
  .block {
    padding: 10px 10px 0px;
  }
}
.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  color: var(--color-blue-4);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: var(--color-yellow-main);
}
.icon {
  flex: 0 0 30px;
  margin-left: 5px;
  cursor: pointer;
}
