.loader {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.path {
  fill: var(--color-blue-4);
}
.path.loading {
  animation-name: myAnimation;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes myAnimation {
  from {
    fill: var(--color-blue-4);
  }
  to {
    fill: var(--color-orange-main);
    transform: scale(0.85);
  }
}
