.textContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
}
.percentages {
  flex: 0 0 36px;
  width: 36px;
  text-align: right;
}
.checkboxContainer {
  flex: 0 0 36px;
  width: 36px;
  height: 16px;
  text-align: right;
}
.active {
  cursor: pointer;
}
.barsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.progressBar {
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--color-bg-minor-blur);
}
.progressBarFill {
  height: 100%;
  border-radius: 2px;
  background: linear-gradient(90deg, var(--color-blue-main), var(--color-blue-4));
}
