.wrapper {
  min-height: calc(100vh - 60px);
}
.right {
  text-align: right;
  margin-bottom: 5px;
}
.service {
  font-size: 11px;
  margin-right: 3px;
}

.link:hover {
  text-decoration: underline;
}
.wrapper__wide {
  overflow-x: auto;
}
.wrapper__series {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
