.input {
  width: 1.2em;
  height: 1.2em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid var(--color-blue-main);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0px 7px 5px 0px;
}
.input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.input:checked {
  background-color: var(--color-yellow-5);
  border: 1px solid var(--color-blue-main);
}
.input {
  border-radius: 0.25em;
}
.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.label span {
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
}
