.box__navbar {
  margin: 10px 0 15px;
}
.wrapper {
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 25px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* ====================================================================== */
@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 100%;
  }
}
