.category {
  display: inline-block;
  text-align: center;
  padding: 0.25em 0.5em 0.2em;
  max-width: 70px;
  min-width: 40px;
  border-radius: 10px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  user-select: none;
}
.A {
  background: #dc4119;
}
.B {
  background: #58c34e;
}
.C {
  background: #3ec0e9;
}
.D {
  background: #fccf0b;
}
.E {
  background: #943e5e;
}
.W {
  background: #9422ae;
}
.WA {
  background: #9422ae;
}
.WB {
  background: #9422ae;
}
.T {
  background: var(--color-blue-3);
}
