.category {
  display: inline-block;
  text-align: center;
  padding: 0.2em 0.5em;
  max-width: 50px;
  min-width: 30px;
  border-radius: 1em;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  user-select: none;
}
.APlus {
  background-color: var(--catAPlus);
}
.A {
  background-color: var(--catA);
}
.B {
  background-color: var(--catB);
}
.BPlus {
  background-color: var(--catBPlus);
}
.C {
  background-color: var(--catC);
}
.D {
  background-color: var(--catD);
}
.E {
  background-color: var(--catE);
}
.W {
  background-color: var(--catW);
}
.WA {
  background-color: var(--catWA);
}
.WB {
  background-color: var(--catWB);
}
.T {
  background-color: var(--catT);
}
.null {
  background-color: var(--catT);
}
.circle {
  max-width: 26px;
  min-width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.full {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 22px;
  border-radius: 11px;
}
@media screen and (max-width: 576px) {
  .category {
    font-size: 12px;
    min-width: 30px;
  }
  .circle {
    max-width: 22px;
    min-width: 22px;
    width: 22px;
    height: 22px;
  }
}
