.wrapper {
  flex: 0 1 400px;
  max-width: 400px;
  background-color: var(--color-bg-minor);
  border: 2px solid var(--color-blue-main);
  border-radius: 6px;
  padding: 15px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-blue-main);
  margin-bottom: 12px;
  border-bottom: 2px solid var(--color-blue-main);
  padding-bottom: 4px;
}
.list {
  margin: 0;
  padding: 0;
}
.term {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.description {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}
