.wrapper {
  min-height: calc(100vh - 60px);
}
.title__notFound {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--color-blue-2);
  padding-bottom: 20px;
}
.wrapper__wide {
  overflow-x: auto;
}
