.page__block {
  margin-bottom: 35px;
}
.titlePage-3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.align-right {
  text-align: right;
  margin-bottom: 5px;
}
.page404 {
  text-align: center;
}
.page404__text {
  font-size: 20px;
}
.page404__title {
  font-size: 34px;
  margin-bottom: 20px;
}
.page404__text-wrong {
  color: red;
}
.page404__text-link {
  color: #ff7b31;
  text-decoration: underline;
}
pre {
  padding: 5px;
  margin: 25px 0;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
