.title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}
.article {
  margin-bottom: 15px;
}
.list {
  list-style: circle;
  list-style-position: inside;
}
.item {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}
.image {
  width: 275px;
}
