.wrapper {
  position: relative;
  padding: 14px 10px 10px;
  background-color: var(--color-blue-main);
  border-radius: 10px;
  text-align: center;
}
.title {
  color: white;
  margin-bottom: 12px;
  font-size: 22px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.box__icon {
  position: absolute;
  top: 9px;
  left: 9px;
}
