.category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
  user-select: none;
}
.A {
  background-color: var(--catA);
}
.B {
  background-color: var(--catB);
}
.C {
  background-color: var(--catC);
}
.D {
  background-color: var(--catD);
}
.E {
  background-color: var(--catE);
}
.W {
  background-color: var(--catW);
}
