.block {
  margin-bottom: 1em;
}
.link {
  text-decoration: none;
  color: var(--color-blue-4);
}
.link:hover {
  text-decoration: underline;
}
.route__p {
  display: flex;
  align-items: center;
  gap: 0 5px;
  margin-bottom: 3px;
}
@keyframes iconAnimation {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--color-yellow-5-transparent);
}
.icon.mouseEnter {
  animation: iconAnimation 0.5s ease-out;
}
