.hamburger {
  display: flex;
  align-items: center;
}
.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 4px auto;
  background: #fff;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.circle:hover .bar {
  background: rgb(253, 234, 226);
  transition: all 0.2s;
}
.circle:active {
  background: rgb(226, 77, 18);
  transition: all 0.2s;
}
