.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  font-size: 15px;
}
.table caption {
  font-size: 18px;
  text-align: left;
}
.table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  /* background: #ff7c00; */
  background: linear-gradient(90deg, #ff7c00 -0.39%, #ffb773 100%);
}
.table th {
  text-align: inherit;
  padding: 0.5em 0.4em;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
.table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.table .trLink {
  cursor: pointer;
}
.table .trLink:hover {
  background: #ffda73;
  transition: all 0.3s;
}
.table .trLinkOff:hover {
  background: #ffda73;
  transition: all 0.3s;
}
.link {
  text-decoration: none;
  color: var(--color-blue-4);
}
.link:hover {
  text-decoration: underline;
}
.table_striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table thead th {
  vertical-align: center;
  border-bottom: 2px solid #dee2e6;
}
.table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table td {
  padding: 0.3em 0.4em;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  max-width: 400px;
}
.onlyContent {
  width: 1%;
}
.onlyContentSm {
  width: auto;
}
.bold {
  font-weight: 700;
}
.name {
  display: block;
  min-width: 200px;
}
.rider {
  display: flex;
  gap: 0 7px;
  align-items: center;
  min-width: 210px;
}
.rider__logo {
  flex: 0 0 33px;
  height: 33px;
  border-radius: 5px;
  overflow: hidden;
}
.rider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.rider__img__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: var(--color-border-minor);
  overflow: hidden;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: bold;
}
.flexBox {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.underChecking {
  font-size: 19px;
  margin-left: 5px;
  padding-top: 2px;
}
.dq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 24px;
  border-radius: 50%;
  font-weight: bold;
  background: #6d6d6d;
}
.center {
  text-align: center;
  width: 24px;
}
.centerTd {
  text-align: center;
}
.penalty {
  display: flex;
  justify-content: center;

  width: 36px;
  height: 24px;
  border-radius: 50%;
  font-weight: bold;
  background: rgb(252, 131, 61);
}
.A {
  background: #dc4119;
}
.B {
  background: #58c34e;
}
.C {
  background: #3ec0e9;
}
.D {
  background: #fccf0b;
}
.E {
  background: #943e5e;
}
.W {
  background: #9422ae;
}
.WA {
  background: #9422ae;
}
.WB {
  background: #9422ae;
}
.boxValue {
  text-align: center;
  padding: 4px 5px 2px 5px;
  width: 50px;
  min-height: 25px;
  border: 1px solid var(--color-border-minor);
  border-radius: 0.25rem;
}
.success {
  background-color: var(--success);
}
.error {
  background-color: var(--error);
}
.wrap {
  white-space: normal;
}
.box__icons {
  position: relative;
  display: flex;
  gap: 0 10px;
}
.box__flag {
  flex: 0 0 22px;
  display: flex;
  align-items: center;
}
.text__additional {
  font-size: 10px;
}
.max {
  font-weight: 700;
  color: #dc4119;
}
.big {
  font-size: 1.15em;
}
.small {
  font-size: 0.65em;
  white-space: nowrap;
}
@media screen and (max-width: 992px) {
  .big {
    font-size: 1em;
  }
}
@media screen and (max-width: 576px) {
  .table td {
    font-size: 14px;
  }
  .rider {
    min-width: 110px;
    /* max-width: 157px; */
    letter-spacing: 0;
  }
  .onlyContentSm {
    width: 1%;
  }
}
@media screen and (max-width: 400px) {
  .table td {
    padding: 0.3em 0.3em;
  }
}
