.wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.rider {
  flex-basis: 200px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.box__item {
  display: grid;
  align-items: center;
  grid-template-columns: 90px auto;
}
.box__item + .box__item {
  margin-top: 5px;
}
.list {
  width: auto;
  margin: 0;
  padding: 0;
}
.list__title,
.value {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.list__title {
  font-size: 12px;
  text-transform: uppercase;
}
.wrapper__img {
  flex: 0 0 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
}
.name {
  font-size: 15px;
}
/* ====================================================================== */
@media (max-width: 576px) {
  .wrapper {
    gap: 5px;
  }
  .wrapper__img {
    flex: 0 0 30px;
    height: 30px;
    border-radius: 4px;
  }
  .box__item {
    grid-template-columns: 85px auto;
    margin-bottom: 0px;
  }
  .box__item + .box__item {
    margin-top: 2px;
  }
  .rider {
    font-size: 13px;
    gap: 7px;
  }
  .list__title {
    font-size: 11px;
  }
  .value {
    font-size: 13px;
  }
}
