.category {
  display: inline-block;
  text-align: center;
  padding: 0.2em 0.5em;
  max-width: 50px;
  min-width: 30px;
  border-radius: 1em;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  user-select: none;
}
.A {
  background-color: #dc4119;
}
.B {
  background-color: #58c34e;
}
.C {
  background-color: #3ec0e9;
}
.D {
  background-color: #fccf0b;
}
.E {
  background-color: #943e5e;
}
.W {
  background-color: #9422ae;
}
.WA {
  background-color: #9422ae;
}
.WB {
  background-color: #9422ae;
}
.T {
  background-color: var(--color-blue-3);
}
.circle {
  max-width: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.full {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 22px;
  border-radius: 11px;
}
@media screen and (max-width: 576px) {
  .category {
    font-size: 11px;
  }
  .circle {
    max-width: 22px;
    min-width: 22px;
    width: 22px;
    height: 22px;
  }
}
