.block {
  margin-bottom: 35px;
}
.title {
  font-size: 18px;
  font-weight: 700;
}
.title__box {
  display: flex;
  gap: 0 10px;
}
.right {
  text-align: right;
  margin-bottom: 5px;
}
.group {
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px;
}
.poster {
  object-fit: cover;
  object-position: center;
  max-width: 500px;
  width: 100%;
  height: 166px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.paragraph {
  letter-spacing: 0.5px;
  text-align: justify;
  margin: 0px 0px 10px 0px;
}
.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  margin: 10px 0;
  width: 100%;
  background-color: var(--color-yellow-5);
  cursor: pointer;
  border-radius: 6px;
}
.description__title {
  font-size: 16px;
  font-weight: 400;
}
.service {
  font-size: 11px;
  margin-right: 3px;
}
.link {
  text-decoration: none;
  color: var(--color-blue-4);
}
.link:hover {
  text-decoration: underline;
}
