.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.wrapper__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.description {
  font-size: 14px;
}
.actions {
  display: flex;
  gap: 8px;
}
.dates {
  font-size: 14px;
}
.list {
  margin: 0;
}
.list dd {
  margin-inline-start: 0;
  margin: 0 0 15px 0;
}
.list dt {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}
.list dt::after {
  content: ':';
}
.list dd pre {
  margin: 0;
}
.right {
  text-align: right;
}
