.wrapper__info {
  margin: 1rem 0;
}
.actions {
  display: flex;
  gap: 8px;
}
.right {
  text-align: right;
}
.offer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.offer span {
  margin-right: 4px;
}
