.wrapper {
  max-width: 400px;
}
.title {
  margin-bottom: 0.8rem;
  text-decoration: underline;
}
.list {
  font-size: 0.9rem;
}
.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.item + .item {
  margin-top: 0.2rem;
}
