.link {
  color: inherit;
  text-decoration: inherit;
}

.shortName {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #333;
  min-width: 70px;
  max-width: 110px;
  padding: 3px 5px;
  background-color: var(--color-blue-main);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
