.wrapper {
  width: 100%;
  background-color: rgb(236, 236, 236);
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}
.iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
}
.loader {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 10px;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.boxes {
  position: absolute;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 15px;
  pointer-events: none;
}
.live {
  text-transform: uppercase;
  padding: 2px 6px;
  background-color: red;
  left: 0px;
  top: 0px;
}
.offline {
  text-transform: uppercase;
  padding: 2px 6px;
  background-color: rgb(0, 0, 0);
  left: 0px;
  top: 0px;
}
.viewers {
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0;
  font-weight: 400;
  text-transform: lowercase;
  left: 0;
  bottom: 0;
}
.title__stream {
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0;
  font-weight: 400;
  top: 0;
  right: 0;
  max-width: 350px;
}
.start {
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0;
  font-weight: 400;
  bottom: 0;
  right: 0;
  max-width: 350px;
}
.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profileImage:hover,
.thumbnail:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}
/* ====================================================================== */
@media (max-width: 576px) {
  .boxes {
    font-size: 0.8rem;
  }
}
@media (max-width: 520px) {
  .title__stream {
    max-width: 300px;
  }
}
@media (max-width: 450px) {
  .title__stream {
    max-width: 250px;
  }
}
@media (max-width: 400px) {
  .title__stream {
    max-width: 200px;
  }
}
