.button {
  position: relative;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  border: 1px solid var(--color-blue-main);
  border-radius: 0.4em;
  padding: 0.4em 30px 0.4em 0.8em;
  cursor: pointer;
  letter-spacing: 0.06em;
  user-select: none;
  background-color: var(--color-text-main);
}
.button:hover {
  background-color: var(--color-border-minor);
}
.button:active {
  background-color: var(--color-yellow-4);
}
.mb10 {
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .button {
    padding: 0.2em 0.6em;
    min-width: 115px;
    text-align: left;
  }
}
