.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background-color: var(--color-bg-minor);
  border-radius: 10px;
  border: 1px solid var(--color-border-minor);
  min-height: 145px;
}
.wrapper__top {
  display: flex;
  gap: 10px;
}
.order {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-orange-main);
  border: 2px solid black;
  font-size: 30px;
}
.box__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 14px;
  top: 14px;
}
.box__checkbox {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem 1rem;
  max-width: 400px;
  align-items: end;
}
.stage__label {
  font-size: 20px;
}
.box__iconConnection {
  position: absolute;
  bottom: 14px;
  right: 14px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  padding-right: 48px;
}
.subtitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}
.box__field {
  margin-bottom: 12px;
}
/* ====================================================================== */
@media (max-width: 576px) {
}
