.wrapper__notifications {
  max-width: 400px;
  margin-bottom: 1.5rem;
}
.wrapper__textarea {
  margin-bottom: 1rem;
}
.title {
  margin-bottom: 0.8rem;
  text-decoration: underline;
}
.list {
  font-size: 1.1em;
}
.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.item + .item {
  margin-top: 0.2rem;
}
.wrapper__field {
  padding: 10px 10px 17px;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.wrapper__field:focus-within {
  background-color: var(--focus-within);
}

.box__btn {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: flex-end;
  padding-right: 10px;
}
.error {
  font-weight: 400;
  font-size: 12px;
  color: var(--error);
}
