.wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.bellContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.messageContainer {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--error);
  border-radius: 50%;
}
.messages {
  font-size: 11px;
  color: var(--color-text-main);
}
