.item {
	cursor: pointer;
	margin: 5px 0;
	padding: 0.3em 0.75em 0.1em 0.75em;
	width: 100%;
	border: 1px solid var(--color-border-minor);
	border-radius: 0.25em;
}
.item:hover {
	background-color: var(--color-yellow-main);
	transition: ease 0.3s;
}
.itemMore {
	font-style: italic;
}
.title {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 700;
}
