.body {
  position: relative;
  margin-top: 60px;
  width: 100%;
  min-height: calc(100vh - 60px);
  overflow-x: hidden;
}
.container {
  position: relative;
  padding: 20px 13px 20px 63px;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 10px 5px 10px 45px;
  }
}

@media screen and (min-width: 1650px) {
  .container {
    padding: 20px 136px 20px 186px;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    padding: 20px 236px 20px 286px;
  }
}
