.body {
  position: relative;
  margin-top: 60px;
  width: 100%;
  min-height: calc(100vh - 60px);
  overflow-x: hidden;
}
.main {
  overflow-x: auto;
}
.container {
  position: relative;
  z-index: 1;
  padding: 20px 13px 20px 63px;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 15px;
}
.container:not(:has(.aside)) {
  grid-template-columns: 1fr;
}
/* ====================================================================== */
@media screen and (max-width: 576px) {
  .container {
    padding: 10px 5px 10px 45px;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 100%;
  }
}
@media screen and (min-width: 1650px) {
  .container {
    padding: 20px 76px 20px 126px;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    padding: 20px 206px 20px 236px;
  }
}
