.wrapper {
  min-height: calc(100vh - 60px);
}
.wrapper__wide {
  overflow-x: auto;
}
.link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: var(--color-blue-4);
  margin: 0px 0px 10px 0px;
}
.link:hover {
  text-decoration: underline;
}
.block__nav {
  display: flex;
  justify-content: space-between;
  gap: 10px 15px;
  flex-wrap: wrap;
}
.wrapper__series {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
