{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "proseWrap": "always",
  "printWidth": 96,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "jsxSingleQuote": false
}
