.hidden {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  line-height: 0px;
}
.btn {
  flex: 0 0 auto;
  width: auto;
  font-family: var(--font-montserrat_Alternates);
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--main-color);
  background-color: var(--btn-bg);
  border-radius: 0.7rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 1.5rem;
  transition: all 0.3s;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}
.btn:hover {
  transition: all 0.2s;
  background-color: var(--btn-bg-hover);
}
.btn:active {
  background-color: var(--btn-bg-active);
}
.btn:focus {
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
  outline: none;
}
.btn:disabled {
  background-color: var(--loading);
}

/* ====================================================================== */
.btn__icon {
  cursor: pointer;
}
.btn__icon:hover {
  opacity: 0.8;
}
.icon__disabled {
  opacity: 0.8;
}
