.max {
  font-weight: 700;
  color: #dc4119;
}
.big {
  font-size: 1.15em;
}
.small {
  font-size: 0.65em;
  white-space: nowrap;
}
.icons {
  position: relative;
}
.name {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-flow: wrap;
  font-weight: 500;
}
.female {
  margin-left: 5px;
  vertical-align: middle;
}
.gap {
  font-size: 11px;
  font-style: italic;
  white-space: nowrap;
}
.gap__ms {
  font-weight: 700;
}
.link {
  text-decoration: none;
  color: var(--color-blue-4);
}
.link:hover {
  text-decoration: underline;
}
.rider {
  display: flex;
  gap: 0 7px;
  align-items: center;
  min-width: 240px;
}
.rider__logo {
  flex: 0 0 33px;
  height: 33px;
  border-radius: 5px;
  overflow: hidden;
}
.rider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.rider__img__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: var(--color-border-minor);
  overflow: hidden;
}
.box__flag {
  flex: 0 0 22px;
}
.cursor__default {
  cursor: default;
}

.categoryBox {
  width: 65px;
  padding: 2px 1px;
  font-weight: 500;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
}
.categoryA {
  background-color: var(--catA);
}
.categoryB {
  background-color: var(--catB);
}
.categoryC {
  background-color: var(--catC);
}
.categoryD {
  background-color: var(--catD);
}
.colorWhite {
  color: #ffffff;
  font-weight: 500;
}
