.direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 0.35rem;
}
.direction__checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
