.content {
  margin-bottom: 20px;
}
.paragraph {
  font-size: 16px;
  line-height: 1.8;
  padding: 15px;
  border: 1px solid var(--color-border-minor);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.paragraph blockquote {
  font-style: italic;
  padding: 10px 20px;
  border-left: 4px solid var(--color-blue-main);
  background-color: rgba(33, 150, 243, 0.1);
  margin: 20px 0;
}
.paragraph a {
  text-decoration: none;
  border-bottom: 2px solid var(--color-yellow-5);
  transition: border-color 0.2s;
  color: var(--color-blue-4);
}
.paragraph a:hover {
  border-bottom-color: var(--color-blue-main);
  text-decoration: none;
}
/* ====================================================================== */
@media (max-width: 769px) {
  .paragraph {
    padding: 10px;
    font-size: 15px;
    line-height: 1.6;
  }
}
