.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper__block {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
}
