.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px;
  overflow-y: auto;
}

.block {
  position: relative;
  width: auto;
  /* max-width: 517px; */
  background: #f6f8fa;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 30px 20px 15px 20px;
  margin: auto;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding: 10px;
    align-items: flex-start;
  }

  .block {
    max-width: 100%;
    width: 100%;
    max-height: calc(100vh - 20px);
    padding: 20px 15px 10px 15px;
  }
}
