.form {
  display: flex;
  flex-flow: wrap;
  gap: 10px 100px;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  text-decoration: underline;
}
.title__param {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}
.subtitle__param {
  font-size: 16px;
  font-style: italic;
}
.right {
  text-align: right;
}
.box__inputs {
  flex: 0 1 450px;
}
.box__select {
  flex: 0 0 auto;
}
.box__checkbox {
  flex: 0 1 450px;
}
.additional {
  margin-top: 25px;
  display: flex;
  flex-flow: wrap;
  gap: 10px 20px;
}
h3 {
  flex-basis: 100%;
}
.spacer__block {
  margin-bottom: 10px;
}
.input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text-dark);
  background-color: var(--color-bg);
  background-clip: padding-box;
  border: 1px solid var(--color-border-minor);
  border-radius: 0.25rem;
  overflow: hidden;
}
.input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--color-orange-main);
}
.label {
  flex: 1 1 40%;
  color: var(--color-text-minor);
}
.input:disabled {
  background-color: var(--color-bg-minor);
}
.input::placeholder {
  font-weight: 400;
  color: var(--color-text-minor);
}
.rInput {
  flex: 1 1 40%;
}
.groups {
  display: flex;
  gap: 10px;
}
.groups__enforcement {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 100px;
  align-items: flex-start;
}
.code {
  font-style: italic;
  margin: 0;
  padding: 0;
}
