.wrapper {
  animation: loading 1s infinite alternate;
}
.table {
  width: 100%;
}
table .thead__tr {
  background-color: var(--color-bg-minor-2);
  height: 40px;
}
table .tr:nth-child(odd) {
  background-color: var(--color-bg-minor-2);
}
table .caption {
  height: 1.3rem;
  width: 300px;
  background-color: var(--color-bg-minor-2);
  margin-bottom: 5px;
  border-radius: 0.3rem;
}

@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
