.wrapper {
  width: 100%;
}
.input {
  width: 100%;
  background: var(--color-bg);
  border: 1px solid var(--color-border-minor);
  border-radius: 6px;
  padding: 0 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding: 0.375em 0.75em;
  color: var(--color-text-minor);
  outline: none;
}
.input:focus {
  box-shadow: 0 0 2px 2px var(--color-blue-4);
}
.input.error {
  box-shadow: 0 0 2px 2px var(--error);
  border-color: var(--error);
}
.box__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* margin-bottom: 6px; */
}
.label {
  color: var(--color-text-minor);
}
.label::after {
  content: ':';
}
.wrong {
  font-size: 10px;
  line-height: 12px;
  color: var(--error);
}
.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: var(--color-blue-4);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: var(--color-yellow-main);
}
.mb20 {
  margin-bottom: 20px;
}
.input::placeholder {
  opacity: 0.5;
}
