.box {
  display: inline-block;
  text-align: center;
  padding: 0.25em 0.5em 0.2em;
  max-width: 70px;
  min-width: 30px;
  border-radius: 10px;
  font-size: 12px;

  line-height: 1.2;
  font-weight: 700;
  background-color: var(--menu-side);
  color: var(--color-text-main);
  user-select: none;
}
