.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-clip: padding-box;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid var(--color-border-minor);
  border-radius: 0.4rem;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  letter-spacing: 0.04em;
  user-select: none;
  background-color: var(--color-text-main);
  text-decoration: none;
  overflow: hidden;
  min-width: 160px;
  width: 100%;
}
.select:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--color-blue-4);
}
.label {
  padding: 0;
  margin: 0;
  color: var(--color-text-minor);
}
.select:disabled {
  background-color: var(--color-bg-minor);
}
.option {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: var(--color-bg-minor);
}
.label__bold {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .select {
    padding: 0.2em 0.6em;
    letter-spacing: inherit;
  }
}
