.select {
	display: inline-block;
	text-align: center;
	min-width: 35px;
	height: 25px;
	padding: 0 0.2em;
	color: var(--color-text-dark);
	border: 1px solid var(--color-text-minor);
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pointsSprint {
	background-color: #58c34e;
}
.pointsMountain {
	background-color: red;
}
