.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.list {
  display: flex;
  justify-content: space-between;
  gap: 0 6px;
  margin: 0;
}
.list + .list {
  margin-top: 7px;
}
.box__term {
  display: flex;
  gap: 0 5px;
  align-items: center;
}
.term {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 0.03em;
  line-height: 9px;
}
.description {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-inline-start: 0;
  line-height: 16px;
}
@media screen and (max-width: 992px) {
  .wrapper {
    flex: 1 1 31%;
    min-width: 190px;
  }
}
