.wrapper {
  width: 100%;
}
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.input::-webkit-color-swatch {
  border-radius: 6px;
  border: 3px solid var(--color-border-minor);
}
.input::-moz-color-swatch {
  border-radius: 6px;
  border: 3px solid var(--color-border-minor);
}
.input:focus {
  box-shadow: 0 0 2px 2px var(--color-blue-4);
}
.input:disabled {
  background-color: var(--color-bg-minor);
}

.label {
  color: var(--color-text-minor);
}
.label::after {
  content: ':';
}
