.wrapper {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 25px;
  min-height: calc(100vh - 60px);
}
.cards {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}
.control {
  text-align: right;
  margin-bottom: 1rem;
}
.aside {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* ====================================================================== */
@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 100%;
  }
}
