.wrapper {
  width: 100%;
}
.title {
  font-size: 1.1rem;
  margin-bottom: 3px;
}
.wrapper__inputs {
  width: 100%;
  display: flex;
  gap: 7px;
  margin-bottom: 5px;
}
.validate {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--error);
}
