.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 300px;
  background: linear-gradient(45deg, var(--skeleton-light), var(--skeleton-medium));
  border-radius: 10px;
  animation: skeletonPulse 1.5s ease-in-out infinite;
  padding: 20px;
}
.title {
  background: var(--skeleton-medium);
  animation: skeletonPulse 1.5s ease-in-out infinite;
  width: 60%;
  height: 45px;
  border-radius: 6px;
  align-self: start;
}
.mission__box {
  width: 100%;
  border: 2px solid var(--skeleton-light);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  animation: skeletonPulse 1.5s ease-in-out infinite;
}
.mission {
  width: 90%;
  height: 14px;
  background: var(--skeleton-medium);
  animation: skeletonPulse 1.5s ease-in-out infinite;
  border-radius: 3px;
  margin: 10px;
}
@keyframes skeletonPulse {
  0% {
    background-color: var(--skeleton-light);
  }
  50% {
    background-color: var(--skeleton-medium);
  }
  100% {
    background-color: var(--skeleton-light);
  }
}
