.wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: white;
  cursor: pointer;
}
.title {
  position: absolute;
  top: 20px;
  left: 3%;
  font-size: 20px;
}
.subtitle {
  position: absolute;
  top: 48px;
  left: 3%;
  font-size: 16px;
}
.wrapper__hover {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}
.wrapper:hover {
  -webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
}
.wrapper:hover .wrapper__hover {
  transform: scale(1.03);
}
