.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 8px;
  padding: 14px;
  background: var(--skeleton-light);
}

.box__titles {
  height: 70px;
  width: 320px;
  animation: skeletonPulse 1.5s ease-in-out infinite;
  border-radius: 5px;
}

.description {
  height: 40px;
  width: 280px;

  animation: skeletonPulse 1.5s ease-in-out infinite;
  border-radius: 5px;
}

@keyframes skeletonPulse {
  0% {
    background-color: var(--skeleton-light);
  }
  50% {
    background-color: var(--skeleton-medium);
  }
  100% {
    background-color: var(--skeleton-light);
  }
}
