.chart {
  margin-bottom: 15px;
}
.box__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 40px;
  flex-wrap: wrap;
  font-size: 1.1em;
}

.box__filter {
  text-align: right;
  margin-bottom: 5px;
}
