.wrapper {
  min-height: calc(100vh - 60px);
  margin-bottom: 15px;
}
.title__notFound {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--color-blue-2);
  padding: 20px 0;
}
.block__cp {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.block__results {
  overflow-x: auto;
  min-height: 350px;
}

@media screen and (max-width: 576px) {
  .block__cp {
    gap: 10px 15px;
  }
}
