.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  padding: 5px;
  border: 1px solid var(--color-border-minor);
}
.table td {
  border: 1px solid var(--color-border-minor);
  padding: 5px;
  text-align: center;
}
.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}
.table tr td:last-child,
.table tr th:last-child {
  border-right: none;
}
.categoryBox {
  padding: 2px 5px;
  font-weight: 500;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
}
.categoryA {
  background-color: var(--catA);
}
.categoryB {
  background-color: var(--catB);
}
.categoryC {
  background-color: var(--catC);
}
.categoryD {
  background-color: var(--catD);
}

@media screen and (max-width: 576px) {
  .table {
    font-size: 12px;
  }
  .table td {
    padding: 5px 2px;
    white-space: nowrap;
  }
  .table th {
    padding: 5px px;
  }
  .categoryBox {
    padding: 2px 3px;
  }
}
