/* TwitchStream.module.css */
.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.title {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: copy;
}
.icon {
  width: 24px;
  height: 24px;
}
.spacer {
  margin-bottom: 5px;
}
