.wrapper {
  min-height: calc(100vh - 60px);
}
.cards {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.control {
  text-align: right;
  margin-bottom: 1rem;
}
/* ====================================================================== */
@media (max-width: 578px) {
  .cards {
    justify-content: center;
    gap: 10px;
  }
}
