.group {
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
  border-radius: 6px;
  padding: 10px;
  overflow: hidden;
}
.list {
  margin: 0;
}
.list dd {
  margin-inline-start: 0;
  margin: 0 0 15px 0;
}
.list dt {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}
.list dt::after {
  content: ':';
}
.list dd pre {
  margin: 0;
}
.right {
  text-align: right;
}
