.title {
  font-size: 22px;
}
.wrapper__stages {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-dark);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border-minor);
  border-radius: 0.25rem;
}
.stage {
  display: grid;
  grid-template-columns: 120px 1fr 35px auto;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--color-border-minor);
}
.stage:first-child {
  background: var(--gradient-orange);
}
.column__name {
  font-size: 16px;
  font-weight: 500;
}
.stage:last-child {
  border-bottom: none;
}
.stage:not(:first-child):hover {
  background-color: var(--color-yellow-5-transparent);
}

/* ====================================================================== */
@media (max-width: 768px) {
  .wrapper__stages {
    padding: 0.1rem 0.5rem;
  }
  .stage {
    grid-template-columns: 65px 1fr 35px auto;
  }
}
