.wrapper {
  position: relative;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.title {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  margin-bottom: 1rem;
  overflow: hidden;
}
.icon__logo {
  width: auto;
  height: 24px;
}
.icon__copy {
  cursor: copy;
}
.watch {
  font-size: 16px;
  font-weight: 400;
}
.description {
  padding: 12px;
}
/* ====================================================================== */
@media (max-width: 576px) {
  .title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .icon__twitch {
    width: auto;
    height: 20px;
  }
  .description {
    padding: 10px 8px;
  }
}
