.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 14px 0px 14px 14px;
  background-color: var(--color-yellow-5-transparent);
  border-radius: 10px;
  border: 1px solid var(--color-border-minor);
  min-height: 145px;
}
.wrapper__top {
  display: flex;
  gap: 10px;
}
.order {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 30px;
}
.box__icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: space-between;
  right: 14px;
  top: 14px;
}
.box__checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: start;
  max-width: 400px;
}
.box__checkbox + .box__checkbox {
  margin-top: 10px;
}
.stage__label {
  font-size: 20px;
}
.box__iconConnection {
  position: absolute;
  bottom: 14px;
  right: 14px;
}
.title {
  font-size: 22px;
  font-weight: 500;
}
.subtitle {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}
.box__field {
  margin-bottom: 12px;
}
