.wrapper {
  width: 100%;
  margin-bottom: 25px;
}
.card {
  border-radius: 5px;
  cursor: pointer;
}
.card:hover {
  -webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
.title__date {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--color-blue-2);
  padding-bottom: 10px;
}
.card__top {
  display: flex;
  justify-content: space-between;
  gap: 0 15px;
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}
.card__bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  background-color: var(--color-bg-minor-2);
  border: 1px solid var(--color-border-minor);
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 14px 15px;
  z-index: 1;
}
.description {
  flex: 0 1 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3px 20px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
}
.title__sub {
  font-size: 15px;
  letter-spacing: 0.03em;
}
.box__term {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 5px;
}
.box__term + .box__term {
  margin-top: 4px;
}
.list {
  margin: 0;
}
.term {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0px;
}
.term::after {
  content: ':';
}
.term__description {
  margin-inline-start: 0px;
  margin: 0px;
}
.box__rules {
  display: flex;
  gap: 0 5px;
}
.box__img {
  position: relative;
  flex: 0 0 406px;
  aspect-ratio: 2.5/1;
  border-radius: 5px;
  overflow: hidden;
}
.box__img::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.poster {
  object-fit: cover;
  object-position: 25% center;
  height: 100%;
  width: 100%;
}
.title__img {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.1em;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 992px) {
  .wrapper {
    margin-bottom: 15px;
  }
  .title__date {
    padding-bottom: 5px;
  }
  .title {
    font-size: 18px;
  }
  .card__top {
    flex-wrap: wrap;
    padding: 10px 10px 0;
  }
  .card__bottom {
    flex-wrap: wrap;
    padding: 10px;
  }
  .description {
    min-width: 200px;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .box__img {
    flex-basis: calc(100% + 22px);
    min-height: 300px;
    border-radius: 0px;
    margin: 0px -11px;
    aspect-ratio: unset;
  }
  .box__categories {
    position: absolute;
    z-index: 10;
    right: 15px;
    top: -30px;
  }
}
@media screen and (max-width: 576px) {
  .box__img {
    min-height: 170px;
  }
  .description {
    flex-wrap: wrap;
  }
  .box__term + .box__term {
    margin-top: 1px;
  }
}
