.block {
	margin-bottom: 35px;
}
.title {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 700;
}
.right {
	text-align: right;
	margin-bottom: 5px;
}
.box__buttons {
	display: flex;
	justify-content: space-between;
}
