.wrapper {
  min-height: calc(100vh - 60px);
  margin-bottom: 15px;
}
.wrapper__streams {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.wrapper__skeleton {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
