.wrapper {
  display: flex;
  position: relative;
  height: 120px;
  min-width: 280px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--color-border-minor);
  background-color: var(--color-bg-minor-3);
  text-decoration: none;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fullImg {
  flex-grow: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.halfImage {
  height: 120px;
  width: 240px;
  object-fit: cover;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.adLabel {
  display: inline-block;
  font-size: 10px;
  padding: 1px 4px 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.dotsBtn {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
}

.first {
  left: 8px;
  top: 4px;
}

.second {
  left: 8px;
  top: 8px;
}

.third {
  left: 8px;
  top: 12px;
}

.title {
  flex: 1;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: rgb(36, 36, 36);
  display: flex;
  align-items: flex-start;
  padding-top: 2px;
}

.subtitle {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  color: rgb(92, 92, 92);
  display: flex;
  flex-direction: column;
}

.linkContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 5px 12px;
  background-color: var(--color-blue-4);
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  width: 90px;
  text-align: center;
}

.link:hover {
  background-color: var(--color-blue-5);
}

.menu {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 70%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: rgb(192, 192, 192);
  z-index: 5;
}

.menuTitle {
  font-size: 0.9rem;
  margin-bottom: 7px;
}

.menuP {
  font-size: 0.8rem;
}

.menuP + .menuP {
  margin-top: 5px;
}

.advertiserDataLink {
  display: inline-block;
  margin-top: 10px;
  color: rgb(62, 62, 255);
  text-decoration: none;
}
