.button {
	border: 1px solid var(--color-border-minor);
	border-radius: 6px;
	background-color: var(--color-blue-main);
	font-weight: 700;
	font-size: 13px;
	line-height: 1.5;
	padding: 0.375em 1em;
	color: var(--color-text-main);
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}
.button:hover {
	background-color: var(--color-blue-4);
}
.button:active {
	background-color: var(--color-yellow-main);
}
.w_full {
	width: 100%;
}
.danger {
	background-color: var(--color-error);
}
.danger:hover {
	background-color: var(--color-error-hover);
}
.danger:active {
	background-color: var(--color-yellow-main);
}
.td {
	font-size: 11px;
}
.back {
	background-color: var(--color-orange-3);
}
.back:hover {
	background-color: var(--color-orange-4);
}
.back:active {
	background-color: var(--color-yellow-main);
}
