.button {
  /* border: 1px solid var(--color-border-minor); */
  border: none;
  border-radius: 6px;
  background-color: var(--color-blue-main);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  padding: 0.6em 1em 0.5em;
  color: var(--color-text-main);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  user-select: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button:hover {
  background-color: var(--color-blue-4);
  /* transform: translateY(-2px); */
  transition: all 0.3s;
}
.button:active {
  background-color: var(--color-yellow-main);
}
.button:disabled {
  background-color: var(--color-text-minor);
  cursor: not-allowed;
}
.button:disabled:hover {
  background-color: var(--color-text-minor);
  transform: none;
}
.w_full {
  width: 100%;
}
.danger {
  background-color: var(--error);
}
.danger:hover {
  background-color: var(--error-hover);
}
.danger:active {
  background-color: var(--color-yellow-main);
}
.td {
  font-size: 11px;
}
.back {
  background-color: var(--color-orange-3);
}
.back:hover {
  background-color: var(--color-orange-4);
}
.back:active {
  background-color: var(--color-yellow-main);
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
