.block {
  flex: 0 1 470px;
  min-width: 300px;
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
  border-radius: 5px;
  padding: 15px 15px 5px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  padding-bottom: 15px;
}
.title__h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  color: var(--color-blue-4);
  text-decoration: none;
}
.box {
  display: flex;
  gap: 0 10px;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 10px;
}
.box__iconsDescription {
  display: flex;
  gap: 0 15px;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.abbreviation {
  flex: 0 0 30px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .block {
    padding: 10px 10px 5px;
  }
}
