.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 25px;
  flex-wrap: wrap;
  min-height: calc(100vh - 60px);
  margin-bottom: 15px;
}
.title__info {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.title__notFound {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--color-blue-2);
  padding-bottom: 20px;
}
.wrapper__preview {
  flex: 1 1 800px;
}
.wrapper__info {
  flex: 1 1 300px;
  min-width: 300px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
