.categoryBox {
  width: 65px;
  padding: 2px 1px;
  font-weight: 500;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  display: block;
  text-decoration: none;
}
.link {
  cursor: pointer;
}
.link:hover {
  transition: all 0.2s;
  transform: scale(1.03);
}
.E {
  background-color: var(--catE);
}
.A {
  background-color: var(--catA);
}
.B {
  background-color: var(--catB);
}
.C {
  background-color: var(--catC);
}
.D {
  background-color: var(--catD);
}
.gray {
  background-color: gray;
}
