.form {
  margin-bottom: 10px;
}
.right {
  text-align: right;
}
.box__checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 10px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 3px 8px;
  border-radius: 3px;

  display: inline-block;
  color: white;
  font-weight: 700;
}
.group {
  background-color: var(--color-bg-minor);
  border: 1px solid var(--color-border-minor);
  border-radius: 6px;
  padding: 15px 10px;
  margin-bottom: 15px;
}
.text__array {
  margin-right: 5px;
}
.A {
  background-color: #dc401920;
}
.B {
  background-color: #58c34e20;
}
.C {
  background-color: #3ec0e920;
}
.D {
  background-color: #fccf0b20;
}
.E {
  background-color: #943e5e20;
}
.iA {
  background-color: var(--catA);
}
.iB {
  background-color: var(--catB);
}
.iC {
  background-color: var(--catC);
}
.iD {
  background-color: var(--catD);
}
.iE {
  background-color: var(--catE);
}
.form__group {
  display: flex;
  flex-flow: wrap;
  gap: 10px 100px;
}
.box__inputs {
  flex: 0 1 450px;
}
