.wrapper {
  min-height: calc(100vh - 60px);
}
.wrapper__tables {
  display: flex;
  align-items: flex-start;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.table__total {
  flex: 1 1 500px;
}
.wrapper__wide {
  flex: 1 1 500px;
  overflow-x: auto;
}
.table__main {
  flex: 1 1 100%;
}
.box__filter {
  text-align: right;
  margin-bottom: 15px;
}
